/*Styles for Raidho's Website
 *Raidho Aesthetics
 */
/* Vendor Dependencies */
/* Color Variables */
/*    Breakpoints */
/* Key Variables */
/* Patterns & Sections */
/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Type */
@font-face {
  font-family: Replica;
  src: url("../fonts/replica/Replica-Bold.otf"); }
.Replica, body {
  font-family: Replica;
  font-weight: normal;
  font-style: normal; }

.Leitura {
  font-family: Leitura-Roman1;
  font-weight: normal;
  font-style: normal; }
  .Leitura i, .Leitura em {
    font-family: Leitura-Italic1;
    font-weight: normal;
    font-style: normal; }

.Leitura-Italic1 {
  font-family: Leitura-Italic1;
  font-weight: normal;
  font-style: normal; }

.Decima {
  font-family: DecimaMono-Light;
  font-weight: normal;
  font-style: normal; }

.arial {
  font-family: Arial, sans-serif; }

body {
  font-size: 16px;
  line-height: 1.5;
  color: #2f2f2f; }
  @media (min-width: 1400px) {
    body {
      font-size: 18px; } }
  @media (max-width: 900px) {
    body {
      font-size: 14px; } }
  @media (max-width: 620px) {
    body {
      font-size: 12px; } }

.huge_title, h1 {
  font-size: 4em; }
  @media (max-width: 900px) {
    .huge_title, h1 {
      font-size: 3em; } }
  @media (max-width: 620px) {
    .huge_title, h1 {
      font-size: 2em; } }

.medium_title, h2 {
  font-size: 2.625em; }
  @media (max-width: 900px) {
    .medium_title, h2 {
      font-size: 1.96875em; } }
  @media (max-width: 620px) {
    .medium_title, h2 {
      font-size: 1.3125em; } }

.regular_title, h3 {
  font-size: 2.25em; }
  @media (max-width: 900px) {
    .regular_title, h3 {
      font-size: 1.6875em; } }
  @media (max-width: 620px) {
    .regular_title, h3 {
      font-size: 1.125em; } }

.small_title, h4 {
  font-size: 1.5em; }
  @media (max-width: 900px) {
    .small_title, h4 {
      font-size: 1.125em; } }
  @media (max-width: 620px) {
    .small_title, h4 {
      font-size: 0.75em; } }

.paragraph, p {
  font-size: 1em; }

.small_paragraph {
  font-size: 0.875em; }

p {
  margin-bottom: 1.5em; }

h4, h3, h2, h1 {
  margin-bottom: 1.25em; }

/* Susy Settings */
/* Susy Basics */
/* Makes border-box properties */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.wrap {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto; }
  .wrap:after {
    content: " ";
    display: block;
    clear: both; }
  @media (min-width: 1400px) {
    .wrap {
      max-width: 70%;
      margin-left: auto;
      margin-right: auto; }
      .wrap:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (max-width: 900px) {
    .wrap {
      max-width: 95%;
      margin-left: auto;
      margin-right: auto; }
      .wrap:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (max-width: 620px) {
    .wrap {
      max-width: 98%;
      margin-left: auto;
      margin-right: auto; }
      .wrap:after {
        content: " ";
        display: block;
        clear: both; } }

/* Patterns */
/* Spacing */
.section_pad, section, .e_nav_bottom, footer, .bl-party-three-w-captions {
  padding: 4.375em 0; }
  @media (min-width: 1400px) {
    .section_pad, section, .e_nav_bottom, footer, .bl-party-three-w-captions {
      padding: 4em 0; } }
  @media (max-width: 900px) {
    .section_pad, section, .e_nav_bottom, footer, .bl-party-three-w-captions {
      padding: 2em 0; } }
  @media (max-width: 620px) {
    .section_pad, section, .e_nav_bottom, footer, .bl-party-three-w-captions {
      padding: 1em 0; } }

.inner_section_pad, .e_nav1 a.nav1_bttn > div:nth-child(2), .e_nav2 a.nav2_bttn > div:nth-child(2), .e_nav3 a.nav2_bttn > div:nth-child(2), .feat_project_slider_info {
  padding: 2.5em 0; }

.section_bottom_margins {
  margin-bottom: 4.375em; }

section {
  position: relative; }

/* Color classes */
.gray_dark {
  color: #2f2f2f; }

.gray_medium {
  color: #434343; }

.gray_regular {
  color: #cbcbcb; }

.gray_light {
  color: #f0f0f0; }

.red {
  color: #dd1919; }

.white {
  color: #ffffff; }

.gray_dark_bg {
  background-color: #2f2f2f; }

.gray_medium_bg {
  background-color: #434343; }

.gray_regular_bg {
  background-color: #cbcbcb; }

.gray_light_bg {
  background-color: #f0f0f0; }

.red_bg, header #nav li a:hover {
  background-color: #dd1919; }

.white_bg, header, .feat_project_slider {
  background-color: #ffffff; }

/* Animation */
*, *:before, *:after {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

/* Links */
a {
  color: inherit;
  text-decoration: none; }

/* Images */
.transp_back_image {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  opacity: 1;
  z-index: -1; }

.full_width_image {
  width: 100%;
  margin-bottom: 4em; }

/* Top Nav */
header {
  height: 5.125em; }
  header #nav_logo {
    float: left;
    padding: 0.45em 0;
    margin-bottom: 0; }
  header #nav {
    float: right; }
    header #nav li {
      width: 8.75em;
      height: inherit;
      float: left;
      text-align: center; }
      header #nav li a {
        display: inline-block;
        padding: 1.8em 2.063em; }
        header #nav li a:hover {
          color: #ffffff; }

/* Bottom Nav (Extended Nav) */
.e_nav1 {
  width: 83.05085%;
  float: left;
  margin-left: 8.47458%;
  margin-right: -100%;
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 4.375em;
  position: relative; }
  .e_nav1 a.nav1_bttn {
    display: inline-block;
    width: 100%;
    height: 15em;
    cursor: pointer; }
    .e_nav1 a.nav1_bttn > div:first-child {
      width: 38.77551%;
      float: left;
      margin-right: 2.04082%;
      min-height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center; }
    .e_nav1 a.nav1_bttn > div:nth-child(2) {
      width: 48.97959%;
      float: left;
      margin-right: 2.04082%; }

.e_nav_bottom {
  position: relative; }

.e_nav2 {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%; }

.e_nav3 {
  width: 49.15254%;
  float: right;
  margin-right: 0; }

.e_nav2, .e_nav3 {
  overflow: hidden;
  *zoom: 1; }
  .e_nav2 a.nav2_bttn, .e_nav3 a.nav2_bttn {
    display: inline-block;
    width: 100%;
    height: 15em;
    cursor: pointer;
    position: relative;
    background-color: #ffffff; }
    .e_nav2 a.nav2_bttn > div:first-child, .e_nav3 a.nav2_bttn > div:first-child {
      width: 31.03448%;
      float: left;
      margin-right: 3.44828%;
      min-height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center; }
    .e_nav2 a.nav2_bttn > div:nth-child(2), .e_nav3 a.nav2_bttn > div:nth-child(2) {
      width: 65.51724%;
      float: right;
      margin-right: 0; }
  @media (max-width: 900px) {
    .e_nav2, .e_nav3 {
      width: 83.05085%;
      float: left;
      margin-right: 1.69492%; } }

/* Sections */
/* Home */
.home_cover {
  min-height: 33.75em; }

.home_cover_info {
  width: 83.05085%;
  float: left;
  margin-right: 1.69492%; }

.feat_project {
  min-height: 41.875em; }
  .feat_project .feat_project_info {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%; }

.feat_project_slider {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  position: relative; }
  .feat_project_slider a.feat_project_slider_bttn {
    display: inline-block;
    width: 100%;
    height: 28.75em;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat; }
    .feat_project_slider a.feat_project_slider_bttn:hover {
      background-position: -20% 0; }

.feat_project_slider_info {
  width: 49.15254%;
  float: left;
  margin-left: 50.84746%;
  margin-right: -100%; }

/* Log */
.log > li {
  float: left;
  vertical-align: top; }
  .log > li a {
    display: block;
    cursor: pointer; }
    .log > li a:hover {
      opacity: 0.8; }
  .log > li img {
    margin-bottom: 1.25em;
    width: 100%; }
  .log > li p {
    margin-bottom: 2.5em; }

.masonry {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .masonry:after {
    content: " ";
    display: block;
    clear: both; }

.masonry_gutter {
  width: 1.69492%; }

.masonry_column {
  width: 32.20339%; }

.masonry_item {
  width: 32.20339%;
  margin-top: 1.69492%; }

.twitter > div {
  padding: 2.5em;
  margin-bottom: 1.5em; }

/* Footer */
footer ul {
  overflow: hidden; }
  footer ul li {
    width: 32.20339%;
    float: left; }
    footer ul li:nth-child(3n + 1) {
      margin-left: 0;
      margin-right: -100%;
      clear: both;
      margin-left: 0; }
    footer ul li:nth-child(3n + 2) {
      margin-left: 33.89831%;
      margin-right: -100%;
      clear: none; }
    footer ul li:nth-child(3n + 3) {
      margin-left: 67.79661%;
      margin-right: -100%;
      clear: none; }

/* About */
.about_intro div {
  width: 49.15254%;
  float: left; }
  .about_intro div:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0; }
  .about_intro div:nth-child(2n + 2) {
    margin-left: 50.84746%;
    margin-right: -100%;
    clear: none; }
  .about_intro div h4 {
    margin-bottom: 1.5em; }
  .about_intro div img {
    width: 90%;
    margin-bottom: 1.5em; }

.people_founders,
.people_team {
  padding: 1.69492%;
  overflow: hidden;
  *zoom: 1; }
  .people_founders img,
  .people_team img {
    width: 100%;
    margin-bottom: 1.5em; }
  .people_founders h4,
  .people_team h4 {
    margin-bottom: 0; }
  .people_founders p,
  .people_team p {
    margin-bottom: 0; }
  .people_founders a,
  .people_team a {
    color: #dd1919; }

.people_founders div {
  width: 49.15254%;
  float: left;
  margin-bottom: 1.5em; }
  .people_founders div:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0; }
  .people_founders div:nth-child(2n + 2) {
    margin-left: 50.84746%;
    margin-right: -100%;
    clear: none; }
  .people_founders div:last-child {
    float: right;
    margin-right: 0; }

.people_team div {
  width: 32.20339%;
  float: left;
  margin-bottom: 1.5em; }
  .people_team div:nth-child(3n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0; }
  .people_team div:nth-child(3n + 2) {
    margin-left: 33.89831%;
    margin-right: -100%;
    clear: none; }
  .people_team div:nth-child(3n + 3) {
    margin-left: 67.79661%;
    margin-right: -100%;
    clear: none; }
  .people_team div:last-child {
    float: right;
    margin-right: 0; }
  @media (max-width: 620px) {
    .people_team div {
      width: 49.15254%;
      float: left; }
      .people_team div:nth-child(2n + 1) {
        margin-left: 0;
        margin-right: -100%;
        clear: both;
        margin-left: 0; }
      .people_team div:nth-child(2n + 2) {
        margin-left: 50.84746%;
        margin-right: -100%;
        clear: none; }
      .people_team div:last-child {
        float: right;
        margin-right: 0; } }

/* Complimenary Styles */
/* Color pallete */
.color_pallette {
  margin: 30px; }
  .color_pallette li {
    height: 60px;
    width: 60px;
    display: inline-block;
    margin-right: 10px; }

.bl-party-three-one-caption div:nth-child(1) {
  width: 50%;
  float: left; }
.bl-party-three-one-caption div:nth-child(2) {
  width: 50%;
  float: right; }
.bl-party-three-one-caption div:nth-child(3) {
  width: 50%;
  float: right;
  overflow: hidden;
  *zoom: 1; }
.bl-party-three-one-caption div img {
  width: 100%; }

.bl-party-three-w-captions ul {
  overflow: hidden; }
  .bl-party-three-w-captions ul li {
    width: 32.20339%;
    float: left;
    padding: 1.69492%;
    overflow: hidden;
    *zoom: 1; }
    .bl-party-three-w-captions ul li:nth-child(3n + 1) {
      margin-left: 0;
      margin-right: -100%;
      clear: both;
      margin-left: 0; }
    .bl-party-three-w-captions ul li:nth-child(3n + 2) {
      margin-left: 33.89831%;
      margin-right: -100%;
      clear: none; }
    .bl-party-three-w-captions ul li:nth-child(3n + 3) {
      margin-left: 67.79661%;
      margin-right: -100%;
      clear: none; }
    .bl-party-three-w-captions ul li img {
      width: 100%;
      margin-bottom: 1.5em; }

.bl-party-two-no-captions {
  overflow: hidden; }
  .bl-party-two-no-captions div {
    width: 50%;
    float: left; }
    .bl-party-two-no-captions div:nth-child(2n + 1) {
      margin-left: 0;
      margin-right: -100%;
      clear: both;
      margin-left: 0; }
    .bl-party-two-no-captions div:nth-child(2n + 2) {
      margin-left: 50%;
      margin-right: -100%;
      clear: none; }
    .bl-party-two-no-captions div img {
      width: 100%; }

.bl-party-three-no-captions {
  overflow: hidden; }
  .bl-party-three-no-captions div {
    width: 33.33333%;
    float: left; }
    .bl-party-three-no-captions div:nth-child(3n + 1) {
      margin-left: 0;
      margin-right: -100%;
      clear: both;
      margin-left: 0; }
    .bl-party-three-no-captions div:nth-child(3n + 2) {
      margin-left: 33.33333%;
      margin-right: -100%;
      clear: none; }
    .bl-party-three-no-captions div:nth-child(3n + 3) {
      margin-left: 66.66667%;
      margin-right: -100%;
      clear: none; }
    .bl-party-three-no-captions div img {
      width: 100%; }

/*# sourceMappingURL=style.css.map */
